.Ecomo {
  padding: 20px;
  color: radial-gradient(rgba(47, 253, 20, 0.8), rgba(0, 17, 255, 0.589));
  background: radial-gradient(rgba(255, 128, 0, 0.7), rgb(7, 56, 214));
  text-align: center;
  font-family: "Russo One", sans-serif;

}
.Ecomog {
  display: absolute;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  font-family: arial;
  font-weight: 500;
  transform: scale(.10);
  color: #121212;
  -webkit-text-stroke: 2px gray;
}
.Ecomog:nth-child(1) {
  animation: var(--effect) .1000s;
}
@keyframes hover {



}
.sub-header {
  padding: 5px;
  color: rgb(60, 33, 122);
  font-size: 20px;
  font-weight: 800;
  justify-content: center;
  display: flex;
  justify-content: space-between;
}

button {
  color: rgb(60, 33, 122);
  border-radius: 8px;
  background-color: rgb(184, 184, 184);
  margin-bottom: 8px;
}
button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 17, 0);
  font-weight: 800;
}
.bold {
  text-transform: uppercase;
}
